<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cyberdoctor.alfred-gdfid-finder</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>hotkey-trigger</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>script-action</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoalidefaultlink</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>cyberdoctor</string>
	<key>description</key>
	<string>GoogleドライブのファイルIDからFinderでファイルを表示</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Drive File Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>hotkey-trigger</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 "{query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>run.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>script-action</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## 使い方

1. GoogleドライブのファイルIDをクリップボードにコピー
2. 設定したホットキーを押す
3. Finderでファイルが表示される

## 設定

ホットキーをダブルクリックして、お好みのキーを設定してください。</string>
	<key>uidata</key>
	<dict>
		<key>hotkey-trigger</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>script-action</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/cyberdoctor/alfred-gdfid-finder</string>
</dict>
</plist>
